{% extends "SaxidLdapProxyBundle::base.html.twig" %}

{% block body %}
    <div class="page-header">
        <h1>Dienstepasswörter verwalten</h1>
    </div>

    <section id="manage-passwords">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading-HPC">
                    <h4 class="panel-title">
                        <a class="button password-button" role="button" data-parent="#accordion" href="#collapse-HPC">
                            High Performance Computing att TU Dresden
                        </a>
                    </h4>
                </div>

                <div id="collapse-HPC" class="panel panel-default" role="tabpanel" aria-labelledby="heading-HPC">
                    <div class="panel-body">

                      {{ form_start(hpcform) }}
                          {{ form_errors(hpcform) }}

                          <div class="form-group">
                            {{ form_errors(hpcform.password) }}
                            {{ form_widget(hpcform.password) }}
                          </div>

                          {{ form_widget(hpcform.save) }}

                          {{ form_widget(hpcform.generate) }}

                      {{ form_end(hpcform) }}

                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock body %}
