{% extends "SaxidLdapProxyBundle::base.html.twig" %}

{% block body %}

<ul>
{% for service in apiservices %}
 <li><code><b> {{ service.name }} </b></code></li>
 <li>realm: <code> {{ service.realm }} </code></li>
 <li>expired: <code> {{ service.expiry_date }} </code></li>
 <br>
{% endfor %}
</ul>

<hr>

<ul>
{% for res in apiresources %}
 <li>eppn: <code><b> {{ res.eppn }} </b></code></li>
 <li>realm: <code> {{ res.realm_idp }} </code></li>
 <li>added: <code> {{ res.added }} </code></li>
 <li>expired: <code> {{ res.expiry_date }} </code></li>
 <li>deletion: <code> {{ res.deletion_date }} </code></li>
 <br>
{% endfor %}
</ul>

{% endblock body %}
