{% extends "SaxidLdapProxyBundle::base.html.twig" %}

{% block body %}
			<div class="page-header">
				<h1>Benutzerdaten für {{ ldapuser.displayName }}</h1>
			</div>

			<section id="userdata">
				<ul>
					<li>Login Server: <code><a href="ssh://{{ ldapuser.uid }}@saxid-login.zih.tu-dresden.de">ssh://{{ ldapuser.uid }}@saxid-login.zih.tu-dresden.de</a></code></li>
					<li>Login Name(uid): <code>{{ ldapuser.uid }}</code></li>
					<li>uid-Number: <code>{{ ldapuser.uidNumber }}</code></li>
					<li>gid-Number: <code>{{ ldapuser.gidNumber }}</code></li>
					<li>eppn: <code>{{ ldapuser.eduPersonPrincipalName }}</code></li>
					<li>Surname: <code>{{ ldapuser.sn }}</code></li>
					<li>eduPersonEntitlement: <code>{{ ldapuser.eduPersonEntitlement }}</code></li>
					<li>Common Name: <code>{{ ldapuser.cn }}</code></li>
					<li>E-Mail: <code>{{ ldapuser.mail }}</code></li>
					<li>Academy: <code>{{ ldapuser.o }}</code></li>
					<li>Login Shell: <code>{{ ldapuser.loginShell }}</code></li>
					<li>Home Directory: <code>{{ ldapuser.homeDirectory }}</code></li>
					<li>User Services: <code>{{ ldapuser.userServices }}</code></li>
				</ul>

			</section>
{% endblock body %}
