{% extends "SaxidLdapProxyBundle::base.html.twig" %}

{% block body %}
			<div class="page-header">
				<h1>Benutzerdaten für {{ ldapuser.displayName }}</h1>
			</div>

			<section id="userdata">
				<ul>
					<li>uid: <code>{{ ldapuser.uid }}</code></li>
					<li>uidNumber: <code>{{ ldapuser.uidNumber }}</code></li>
					<li>gidNumber: <code>{{ ldapuser.gidNumber }}</code></li>
					<li>eppn: <code>{{ ldapuser.eduPersonPrincipalName }}</code></li>
					<li>surname: <code>{{ ldapuser.sn }}</code></li>
					<li>eduPersonEntitlement: <code>{{ ldapuser.eduPersonEntitlement }}</code></li>
					<li>commonName: <code>{{ ldapuser.cn }}</code></li>
					<li>email: <code>{{ ldapuser.mail }}</code></li>
					<li>displayName: <code>{{ ldapuser.displayName }}</code></li>
					<li>academy: <code>{{ ldapuser.o }}</code></li>
					<li>academyDomain: <code>{{ ldapuser.ou }}</code></li>
					<li>Password: <code>{{ ldapuser.userPassword }}</code></li>
					<li>Login_Shell: <code>{{ ldapuser.loginShell }}</code></li>
					<li>home_Directory: <code>{{ ldapuser.homeDirectory }}</code></li>
					<li>User_Services: <code>{{ ldapuser.userServices }}</code></li>
				</ul>

			</section>
{% endblock body %}
