{% extends "SaxidLdapProxyBundle::base.html.twig" %}

{% block body %}
			<div class="page-header">
				<h1>Benutzerdaten für {{ data.displayName[0] }}</h1>
			</div>

			<section id="userdata">
				<ul>
					<li>uid: <code>{{ data.uid[0] }}</code></li>
					<li>uidNumber: <code>{{ data.uidNumber[0] }}</code></li>
					<li>gidNumber: <code>{{ data.gidNumber[0] }}</code></li>
					<li>eppn: <code>{{ data.eduPersonPrincipalName[0] }}</code></li>
					<li>surname: <code>{{ data.sn[0] }}</code></li>
					<li>eduPersonEntitlement: <code>{{ data.eduPersonEntitlement[0] }}</code></li>
					<li>commonName: <code>{{ data.cn[0] }}</code></li>
					<li>email: <code>{{ data.mail[0] }}</code></li>
					<li>displayName: <code>{{ data.displayName[0] }}</code></li>
					<li>academy: <code>{{ data.o[0] }}</code></li>
					<li>academyDomain: <code>{{ data.ou[0] }}</code></li>
					<li>Password: <code>{{ data.userPassword[0] }}</code></li>
					<li>Login_Shell: <code>{{ data.loginShell[0] }}</code></li>
					<li>home_Directory: <code>{{ data.homeDirectory[0] }}</code></li>
					<li>User_Services: <code>{{ data.userServices[0] }}</code></li>
				</ul>

			</section>
{% endblock body %}
