{{ form_start(hpcform) }}
    {{ form_errors(hpcform) }}

    <div class="form-group">
      {{ form_errors(hpcform.password) }}
      {{ form_widget(hpcform.password) }}
    </div>

    {{ form_widget(hpcform.save) }}

    {{ form_widget(hpcform.generate) }}

{{ form_end(hpcform) }}
